node_modules/

dist/

**/.env

credentials/

listening-quiz-audio-generator-b5d3be486e8f.json

testprompt.md

wasted-prompts/

prompts/

jpn-audioscript-prompt.md

testdata.ts

**/*resources*/

**/__test__/